<h1>Memembers</h1>
<div>
    {{!-- <ul>
        {{#each arr}}
        <li>{{this.spanish}}</li>
        {{/each}}
    </ul> --}}
    <form action="" method="GET">
    <input type="text" name="inp" id="1">
    <input type="submit" value="Submit">
    {{!-- <button name='btn'>Press</button> --}}
    </form>
    <p>{{arr }}</p>
</div>